* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Buttons */
    --loginbutton-bgcolor: rgb(0, 81, 255);
    --loginbutton-color: white;
    --logoutbutton-bgcolor: rgb(255, 39, 68);
    --logoutbutton-color: white;

    /* Navbar  */
    --navbar-bgcolor: rgb(82, 82, 238);
    --navbarheading-color: white;
    --navbarbutton-bgcolor: rgb(0, 174, 255);

    /* Login  */

    --login-bgcolor: rgb(0, 0, 250);
    --loginheading-color: white;
    --logincontent-color: rgb(219, 219, 219);


}